* {
    box-sizing: border-box;
    margin: 0px;
}

li {
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */

.flex-container {
    display: flex;
}

.header {
    background-color: #363636;
    text-align: center;
    font-size: 35px;
    flex-direction: row;
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    padding: 0 100px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.header img {
    height: 500px;
    width: 500px;
}

.title-header {
    color: white;
    font-weight: bold;
}

.description-header {
    color: white;
    font-weight: lighter;
    padding: 0px 10rem;
}



.bttn {
    width: fit-content;
    height: fit-content;
    padding: 12px;
    border-radius: 6px;
    border-style: none;
}

.bttn-projects {
    width: 280px;
    height: 60px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
    letter-spacing: 3.5px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }

}

/* Top bar */

.top-bar {
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
    background-color: aqua;
    width: 100%;
    position: fixed;
}

.profile-details {
    height: 100px;
    align-items: center;
    gap: 12px;
    padding-left: 40px;

}

.profile-details p {
    font-weight: bold;
    color: #333;
}

.profile-image {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.header-link {
    gap: 35px;
}

.header-link li {
    font-weight: bold;
    color: #333;
}

.header-main {
    align-items: center;
    padding-right: 75px;
}

.projects {
    height: fit-content;
    text-align: center;
    flex-direction: column;
    padding-top: 100px;
}

.project-title {
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: bold;
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
}

.project-description {
    display: block;
    text-align: center;
    color: #777;
    font-size: 2rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
    font-size: 20px;
    text-align: center;
    padding-bottom: 60px;
}
.project-container{
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 60px;

}
.project-image img{
    width: 400px;
    height: 400px;
}

.project-details{
    flex-direction: column;
    max-width: 500px;    
    gap: 13px;
    
}
.project-details p{
    text-align: start;
}

.project-sub-title{
    font-size: 30px;
}
